@import 'app/styles/_colors.scss';

.container {
  top: 50%;
  left: 50%;
  display: flex;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  flex-direction: column;
  transform: translate(-50%, -50%);
}

.count {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.action:not(:first-child) {
  margin-left: 8px;
}

.count {
  color: $text-1;
  font: 700 50px 'Open Sans';
}
