$background: #1C1D22;
$font-color: #FFFFFF;
$header-height: 46px;

.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  padding: 0 20px;
  align-items: center;
  height: $header-height;
  border-bottom: 2px solid $background;

  & > .link + .link {
    margin-left: 15px;
  }
}

.content {
  flex: 1;
  margin-top: 20px;
}
