@import 'app/styles/fonts';

.container {
  @include primary-font();
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: absolute;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
}

.header {
  height: 48px;
}

.content {
  flex: 1;
  overflow: scroll;
  padding: 0 50px;
  position: relative;
  margin-top: 20px;
}
