{
  "presets": [
    [ "es2015", { "modules": false } ],
    "stage-0",
    "react"
  ],
  "plugins": [
    ["transform-es2015-modules-commonjs", {
      "spec": true
    }]
  ],
  "env": {
    "production": {
      "presets": ["react-optimize"]
    },
    "development": {
      "presets": ["stage-2"],
      "plugins": ["react-hot-loader/babel"]
    }
  }
}
