{
  "presets": [
    "stage-2",
    "react"
  ],
  "plugins": [
    "dynamic-import-webpack"
  ],
  "env": {
    "production": {
      "presets": [
        ["env", {
          "targets": {
            "browsers": ["last 2 versions"],
            "uglify": true
          },
          "modules": false,
          "useBuiltIns": true
        }],
        "react-optimize",
        "stage-2",
        "react"
      ],
      "plugins": [
        "transform-flow-strip-types",
        "transform-decorators-legacy"
      ]
    },
    "development": {
      "presets": [
        ["env", {
          "targets": {
            "browsers": ["last 2 versions"]
          },
          "modules": false,
          "useBuiltIns": true
        }]
      ],
      "plugins": [
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-es2015-classes",
        "react-hot-loader/babel"
      ]
    }
  }
}
