{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      },
      "modules": false,
      "useBuiltIns": true
    }],
    "stage-2",
    "react"
  ],
  "plugins": ["dynamic-import-webpack"],
  "env": {
    "production": {
      "presets": ["react-optimize"]
    },
    "development": {
      "plugins": [
        "flow-runtime",
        "react-hot-loader/babel"
      ]
    }
  }
}
