{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "envs": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.base.js"
      }
    }
  },
  "plugins": [
    "react",
    "import"
  ]
}
