{
  "rules": {
    "block-closing-brace-empty-line-before": "never",
    "block-closing-brace-newline-after": "always-single-line",
    "block-no-single-line": true,
    "color-named": "never",
    "color-no-invalid-hex": true,
    "declaration-block-no-duplicate-properties": true,
    "declaration-block-no-redundant-longhand-properties": true,
    "declaration-property-unit-whitelist": {"px", "em", "rem", "%", "vh", "vw"},
    "declaration-property-value-blacklist": {},
    "declaration-property-value-whitelist": {},
    "font-family-name-quotes": "always-unless-keyword",
    "font-family-no-duplicate-names": true,
    "font-weight-notation": "numeric",
    "function-calc-no-unspaced-operator": true,
    "length-zero-no-unit": true,
    "max-empty-lines": 1,
    "max-nesting-depth": 4,
    "no-duplicate-selectors": true,
    "no-empty-source": true,
    "no-extra-semicolons": true,
    "no-invalid-double-slash-comments": true,
    "no-unknown-animations": true,
    "number-no-trailing-zeros": true,
    "property-case": "lower",
    "selector-attribute-quotes": "always",
    "selector-combinator-space-after": "always",
    "selector-combinator-space-before": "always",
    "selector-descendant-combinator-no-non-space": true,
    "selector-pseudo-class-case": "lower",
    "selector-pseudo-element-colon-notation": "double",
    "selector-pseudo-element-no-unknown": true,
    "selector-type-no-unknown": true,
    "string-no-newline": true,
    "string-quotes": "single",
    "stylelint-disable-reason": "always-before",
    "unit-case": "lower",
    "unit-no-unknown": true,
    "value-keyword-case": "lower"
  }
}