@import 'app/styles/_colors.scss';

.button {
  height: 45px;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 0 25px;
  border: none;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border-radius: 5px;
  background: linear-gradient(180deg, #589FCA 0%, #73B4DB 100%);

  &:disabled {
    background: #CCCCCC;
  }

  &:hover {
    opacity: 0.85;
  }
}
