@import 'app/styles/_colors.scss';

$header-height: 46px;

.container {
  width: 100%;
  display: flex;
  padding: 0 20px;
  align-items: center;
  height: $header-height;
}

.link {
  text-decoration: none;

  &:not(:first-child) {
    margin-left: 15px;
  }
}

.link.active {
  color: $accent-1;
}
