@import 'app/styles/_colors.scss';

.link {
  text-decoration: none;

  &:not(:first-child) {
    margin-left: 15px;
  }
}

.link.active {
  color: $accent-1;
}

.title {
  color: $text-1;
  margin-right: 10px;
  font: 700 14px 'Open Sans';
}
